:root {
  --bg-gradient: linear-gradient(
    90deg,
    rgba(201, 118, 238, 1) 0%,
    rgba(241, 117, 225, 1) 16%,
    rgba(246, 174, 101, 1) 70%,
    rgba(255, 215, 124, 1) 100%
  );
  --section-padding: 0 1rem; /* Default padding for mobile */
}

@media (min-width: 768px) {
  /* Tablet breakpoint */
  :root {
    --section-padding: 0 5rem; /* Adjust padding for tablet */
  }
}

@media (min-width: 1024px) {
  /* Desktop breakpoint */
  :root {
    --section-padding: 0 10rem; /* Adjust padding for desktop */
  }
}

@media (min-width: 1440px) {
  /* Desktop breakpoint */
  :root {
    --section-padding: 0 15rem; /* Adjust padding for desktop */
  }
}

@media (min-width: 1441px) {
  /* Desktop breakpoint */
  :root {
    --section-padding: 0 20rem; /* Adjust padding for desktop */
  }
}

.meninadeux-header {
  background-color: #ffc8dd;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.meninadeux-ul {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5em;
  list-style: none;
  font-family: Caveat Brush;
  font-weight: bolder;
  font-size: 1.3em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #ffdab9;
  max-height: 72px;
}

.meninadeux-ul li:hover {
  border-bottom: 3px solid white;
  background-image: var(--bg-gradient);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.meninadeux-header-about-me {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 2em;
  padding: var(--section-padding);
}

.meninadeux-header-photo {
  width: 25em;
}

.meninadeux-header-wave {
  background-image: url("/images/headerWave.svg");
  background-repeat: repeat-x;
  height: 7em;
}

.meninadeux-header-title {
  font-family: Caveat Brush;
  font-weight: bold;
  font-size: 3em;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--bg-gradient);
}

.meninadeux-header-text {
  font-family: Caveat Brush;
  font-size: 1.3em;
}

.meninadeux-body {
  align-items: center;
  margin: 2em 0;
  font-family: Caveat Brush;
  padding: var(--section-padding);
}

.meninadeux-body-photo {
  height: 30em;
  float: left;
}
.meninadeux-body-text {
  text-align: justify;
  font-family: Caveat Brush;
  font-size: 1.3em;
}

.meninadeux-footer-wave {
  background-color: #ffe5ec;
}
