@keyframes animationZoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}

.gallery-photo1 {
  height: 500px;
  /* min-width: 500px;
  min-height: 375px; */

  animation-name: animationZoom;
  animation-duration: 1s;
}

.gallery-title {
  text-align: center;
}

.gallery-container {
  /* display: flex;  */
}

.gallery-photo-arrow {
  display: flex;
}

.gallerry-photo-legend {
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 600px) {
  .gallery-photo1 {
    width: 320px;
    min-width: 288px;
    min-height: 265px;
  }
}

@media only screen and (max-width: 600px) {
  .gallery-arrowleft,
  .gallery-arrowright {
    min-width: 18px;
    width: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .gallerry-photo-legend {
    padding-left: 5px;
    padding-right: 5px;
  }
}
