@keyframes animationZoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}

.gallery-photo1 {
  width: 500px;
  min-width: 500px;
  min-height: 375px;

  animation-name: animationZoom;
  animation-duration: 1s;
}

.gallery-title {
  text-align: center;
}

.gallery-container {
  /* display: flex;  */
}

.gallery-photo-arrow {
  display: flex;
}

.gallerry-photo-legend {
  padding-left: 20px;
  padding-right: 20px;
}
