.aboutme-img {
  width: 50%;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.aboutme-container {
  display: flex;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 20px;
  max-width: 800px;
}
.aboutme-text {
  padding-left: 50px;
  text-align: justify;
  color: var(--main-text-color);
}

@media only screen and (max-width: 600px) {
  .aboutme-text {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }

  .aboutme-img {
    width: 90%;
  }
  .aboutme-container {
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .aboutme-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
