.aboutme-img {
  width: 100%;
  height: fit-content;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.aboutme-container {
  /* display: flex; */
  /* padding-left: 300px;
  padding-right: 300px; */
  padding-bottom: 20px;
  max-width: 800px;
  justify-content: center;
}
.aboutme-text {
  /* padding-left: 50px; */
  text-align: justify;
  color: var(--main-text-color);
}

@media only screen and (max-width: 600px) {
  .aboutme-text {
    /* padding-left: 10px;
    padding-right: 10px; */
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .aboutme-img {
    width: 80%;
  }
  .aboutme-container {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  .aboutme_paragraph {
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
  .aboutme-container {
    display: flex;
    flex-direction: column;
    width: 600px;
  }
  .aboutme-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutme_paragraph {
    text-align: -webkit-center;
  }
}
