.App {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-top: 140px;
}

.nav-items > li {
  padding: 10px;
}

.nav-items > li > a {
  text-decoration: none;
  color: black;
}
