.blog-page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.blog-page-subtitle {
  width: 93%;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  /* margin-bottom: -7px; */
}
.BlogPage-img {
  padding-left: 50px;
  padding-right: 50px;
  height: 400px;
  object-fit: cover;
  width: -webkit-fill-available;
}

.BlogPage-Text-1 {
  /* text-align: center; */
  margin-left: 50px;
  margin-right: 50px;
  white-space: pre-wrap;
}

.BlogPage-Text-1 img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.BlogPage-Text-1 p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0.1em;
}

.blog-page-hashtags {
  display: flex;
}

.BlogPage-Text-Maceio {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.blog-page-arrow-Down-sub {
  display: flex;
}

.blog-page-viagem-para-atenas {
  margin-left: 10px;
  font-weight: bolder;
  font-size: x-large;
}

/* .Blog-page-padding {
  padding-left: 200px;
  padding-right: 200px;
} */
.blog-post-padding {
  padding-left: 200px;
  padding-right: 200px;
}

.blog-page-arrow-rotate-up {
  transform: rotate(180deg);
}

.BlogPage-img:hover {
  filter: contrast(1.1) brightness(1.2);
}

.Blog-page-padding2 {
  padding-top: 145px;
}

@media only screen and (max-width: 600px) {
  .BlogPage-img {
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
  }
  .blog-post-padding {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .blog-page-subtitle {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .blog-page-arrow-Down-sub {
    margin-top: 20px;
  }
  .blog-page-hashtags {
    font-size: 13px;
  }
  .BlogPage-Text-1 {
    display: flex;
    flex-direction: column;
    text-align: -webkit-match-parent;
  }
  .blog-page-size-video {
    width: 100%;
    height: 218px;
  }
  .blog-page-videos-videos {
    flex-direction: column;
    gap: 10px;
  }
  .Blog-page-padding2 {
    padding-top: 92px;
  }
}
