#page-header {
  background: rgb(201, 118, 238);
  background-image: linear-gradient(
    90deg,
    rgba(201, 118, 238, 1) 0%,
    rgba(241, 117, 225, 1) 16%,
    rgba(246, 174, 101, 1) 70%,
    rgba(255, 215, 124, 1) 100%
  );

  /* background-color: #ffd29c; */
  font-family: Monaco, Helvetica, sans-serif;
  width: 100%;
  position: fixed;
  z-index: 9999;
  -webkit-backface-visibility: hidden;
}

body.dark-mode #page-header {
  background: #0f000c69;
  /* background: rgba(139, 68, 167, 1); */
  /* background-image: linear-gradient(
    90deg,
    rgba(139, 68, 167, 1) 0%,
    rgba(155, 62, 143, 1) 16%,
    rgba(131, 90, 48, 1) 70%,
    rgba(120, 96, 20, 1) 100%
  ); */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
}

.nav-items {
  list-style: none;
  display: flex;
  padding-right: 30px;
  justify-content: space-between;
  align-items: center;
}

.nav-items > li {
  padding: 10px;
}

.nav-items > li > a {
  text-decoration: none;
  /* color: black; */
  color: var(--main-text-color);
}

body.dark-mode .nav-items {
  /* color: rgba(255, 215, 124, 1); */
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.page-header-animation:hover {
  transform: scale(1.1);
  transition: all ease 500ms;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .nav-items {
    flex-direction: column;
    align-items: center;
  }

  .page-header-animation {
    width: 180px;
  }
}
