.gallery {
  --n: 1; /* number of rows*/
  --m: 10; /* number of columns */
  --g: 0px; /* control the gap */
  --f: 0.4; /* control the scale factor */

  display: grid;
  gap: var(--g);
  width: 100vw;
  height: 50vh;
  grid-template-columns: repeat(var(--m), auto);
}

.gallery > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;

  transition: 0.35s linear;
}

.gallery img:hover {
  filter: grayscale(0);
  width: calc(100vh * var(--f) / var(--n));
  height: calc(100vw * var(--f) / var(--m));
}
