.title-text {
  /* color: pink;  */
  /* background-image: linear-gradient(60deg, #db588a, #ffb03a); */

  background-color: #ffa6bf;
  background-image: linear-gradient(
    90deg,
    rgba(201, 118, 238, 1) 0%,
    rgba(241, 117, 225, 1) 16%,
    rgba(246, 174, 101, 1) 70%,
    rgba(255, 215, 124, 1) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  /* text-shadow: 10px 5px 5px rgb(101 91 91 / 22%); */
}

body.dark-mode .title-text {
  background-image: linear-gradient(
    90deg,
    rgb(155 138 163) 0%,
    rgb(223 158 214) 16%,
    rgb(208 188 168) 70%,
    rgb(224 190 113) 100%
  );
}

.title-text {
  font-family: FontNoot !important;
  -webkit-text-stroke: 2px #0a0a06 !important;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 12px;
}

@media only screen and (max-width: 600px) {
  .title-text {
    font-size: 30px;
  }
}
