.videos-container {
  background-color: #ffc8d5;
  width: 100%;
}
.videos-title {
  text-align: center;
}

.videos-videos {
  /* padding-left: 90px; */
  /* padding-right: 20px; */
  padding-bottom: 40px;
  /* padding-top: 25px; */
  display: flex;
  display: flex;
  justify-content: space-around;
}
