.videos-container {
  background-color: #ffc8d5;
  width: 100%;
  margin-top: 25px;
}

body.dark-mode .videos-container {
  background-color: #645252c9;
}

.videos-title {
  text-align: center;
}

.videos-videos {
  padding-bottom: 40px;

  display: flex;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .videos-videos {
    justify-content: flex-start;
    overflow-x: scroll;
    padding-bottom: 20px;
  }

  .videos-videos iframe {
    padding: 10px;
  }

  .videos-videos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .videos_iframe {
    width: 100%;
    height: 234px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {
  .videos-videos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* @media only screen and (max-width: 768px) and (min-width: 600px) {
  .videos-videos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
} */
