/* variables default */
body {
  --main-bg-color: #fff7f9;
  --main-text-color: black;
}

/* variables dark mode */
body.dark-mode {
  --main-bg-color: #0f000c;
  --main-text-color: white;

  color: var(--main-text-color);
}

body.dark-mode img {
  filter: grayscale(50%);
}

body {
  background-color: var(--main-bg-color);

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
}

#root {
  height: 100vh;
}

/* https://www.w3schools.com/css/css3_fonts.asp */
/* https://freefontsvault.com/noot-font-download-free/ */
@font-face {
  font-family: FontNoot;
  src: url(Noot.otf);
}
